/*}

.about-us {
	width: 100%;
	grid-area: s;

	background: rgba(0,0,0,.8);
	color: #eee;

	font-family: gravity;

	padding: 10px;


}

.about-us nav a{
	color: white;
	margin-right: 10px;*/
}
/*
.about-us .scroll-window {
	width: 100%;
	overflow-x: auto;*/

	/* Make this scrollable when needed */
	    /*overflow-x: auto;*/
	    /* We don't want vertical scrolling */
	    /*overflow-y: hidden;*/
	    /* Make an auto-hiding scroller for the 3 people using a IE */
	    /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
	    /* For WebKit implementations, provide inertia scrolling */
	    /*-webkit-overflow-scrolling: touch;*/
	    /* We don't want internal inline elements to wrap */
	    /*white-space: nowrap;*/
/*	     Remove the default scrollbar for WebKit implementations 
	    &::-webkit-scrollbar {
	        display: none;
	    }
}

::-webkit-scrollbar {
	display: none;
}

.about-us div .content {
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "about-us history team your-music";
	grid-column-gap: 20px;

	overflow-x: hidden;
	overflow-y: hidden;

	width: 400%;

	transition: translateX, 1s;
}

.block {
	max-height: 100%;
	overflow-y: hidden;
}

.block-about-us {
	grid-area: about-us;
}

.block-history {
	grid-area: history;
}

.block-team {
	grid-area: team;
}

.block-your-music {
	grid-area: your-music
}

.pn-Advancer_Icon {
    width: 20px;
    height: 44px;
    fill: #bbb;
}

.nav-indicator {
    position: relative;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100px;
    background-color: #f90;

    transform-origin: 0 0;
    transition: transform 1s;
}*/