/* style the images */
 .slideshow {
  width: 100%;
  height: auto;  
  /*padding: 1rem;*/
  box-sizing: border-box;
  
  position: relative;
  display: inline-block;
} 

.slideshow img {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  position: absolute;
}

.slideshow img.active {
  opacity: 1;
  position: relative;
}

/* transistion */
.slideshow img {
  /*position:absolute;*/
/*   left:0; */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}