/* --------------------------------------*/
/* The styles common accross all screens */
/* --------------------------------------*/

.control-panel {
	background: var(--white);
	padding: 0.5rem 1rem;
	border: 1px solid var(--black);
	border-radius: 0.5rem;
	margin-top: 5rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.control-panel input[type="range"]{
	width: 5rem;
	margin-left: 2rem;
}

.music-controls[data-state="off"] > :not(.btn--listen-live){
	display: none;
}

.music-controls[data-state="stream"] > :not(.controls--stream){
	display: none;
}

.music-controls[data-state="recording"] > :not(.controls--recording){
	display: none;
}



.page--music-player {
	height: 100vh;
	width: 100%;

	margin-left: auto;
	margin-right: auto;
}

.music-player__main {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: var(--art-size);
	margin-right: auto;
	margin-left: auto;

	text-align: center;
}

.music-player__art-container {
	width: var(--art-size);
	height: var(--art-size);

	position: relative;
	border-radius: 1rem;

	overflow: hidden;

	box-sizing: border-box;
}

.music-player__artwork {
	width: var(--art-size);
	height: var(--art-size);

	border: 1px solid #333;
	border-radius: 1rem;

	object-position: center;
	object-fit: cover;

	box-sizing: border-box;
}

.music-player__controls {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(0, 0, 0, .75);

	opacity: 0;

	transition: opacity .2s;
}

.music-player__controls:hover {
	opacity: 1;
}

.music-player__details {
	box-sizing: border-box;

	background: #eee;
	border: 1px solid #333;
	border-radius: 1rem;
	padding: 1rem;
}

.music-player__details h3:nth-child(2) {
	/*margin-left: 2em;*/
}

/* ------------------------------*/
/* The styles for larger screens */
/* ------------------------------*/

@media only screen and (min-width: 800px) {
	.music-player__main {
		--art-size: 50vh;
		--art-size--max: 25rem;

		width: 100%;
		height: 100%;

		flex-direction: row;
	}

	.music-player__art-container {
		max-width: 	var(--art-size--max);
		max-height: var(--art-size--max);
	}

	.music-player__artwork {
		max-width: var(--art-size--max);
		max-height: var(--art-size--max);
	}

	.music-player__details {
		height: var(--art-size);
		max-height: var(--art-size--max);
		
		min-width: 15rem;
		max-width: 20rem;

		margin-left: 2rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

/* ------------------------------*/
/* The styles for smaller screens */
/* ------------------------------*/

@media only screen and (max-width: 800px) {
	.music-player__main {
		--art-size: 60vw;

		flex-direction: column;
	}

	.music-player__details {
		width: 100%;
		min-width: 18rem;
		max-width: 95vw;

		margin-top: 2rem;

		text-align: center;
	}
}

.btn--play-pause {
	--color: #333;
	--size: 20px;

	box-sizing: border-box;

	height: var(--size);

	border-color: transparent transparent transparent var(--color);
	transition: 150ms all ease;
	will-change: border-width;
	cursor: pointer;
}

.btn--play-pause:hover {
  transform: scale(1.2);
}

.btn--play-pause.play {
	border-style: solid;
	border-width: 
		calc( .5  * var(--size) ) 
		0 
		calc( .5  * var(--size) )
		calc( .75 * var(--size) );
}

.btn--play-pause.pause {
  border-style: double;
  border-width: 0 0 0 calc( .75 * var(--size));
}
