.controls {
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0);
  transition: background, 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .controls:hover {
    background: rgba(0, 0, 0, 0.5); }
    .controls:hover > #play-pause-button {
      opacity: 1; }


.paused {
  background: url("/graphics/play-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity, 0.5s;
  width: 75px;
  height: 75px;
  transition: transform 0.1s ease-in-out; }
  .paused:hover {
    transform: scale(1.1); }

.play {
  background: url("/graphics/pause-round-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity, 0.5s;
  width: 75px;
  height: 75px;
  transition: transform 0.1s ease-in-out; }
  .play:hover {
    transform: scale(1.1); }

.loading {
  background: url("/graphics/pause-round-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity, 0.5s;
  width: 75px;
  height: 75px;
  transition: transform 0.1s ease-in-out; }
  .loading:hover {
    transform: scale(1.1); }

.play-pause-button {
  background: url("/graphics/play-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity, 0.5s;
  width: 75px;
  height: 75px;
  transition: transform 0.1s ease-in-out; }
  .play-pause-button:hover {
    transform: scale(1.1); }

#pause-button-toggler {
  display: none; }
  #pause-button-toggler:checked + .play-pause-button {
    background: url("/graphics/pause-button.svg");
    background-size: cover;
    background-repeat: no-repeat; }