
/*Removes Default Button Styling*/
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.controls {
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0);
  transition: background, 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.controls:hover {
  background: rgba(0, 0, 0, 0.5); 
}

.controls > button {
  opacity: 0;
}

.controls:hover > button {
  opacity: 1; 
}

button.play-pause-btn {
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;

  height: 40px;

  border-color: transparent transparent transparent #eee;
  /*border-color: transparent transparent transparent #202020;*/
  transition: 100ms all ease;
  will-change: border-width;
  cursor: pointer;
}

button.play-pause-btn:hover {
  transform: scale(1.3);
}

button.play-pause-btn.play {
  border-style: solid;
  border-width: 20px 0 20px 30px;
}

button.play-pause-btn.pause {
  border-style: double;
  border-width: 0px 0 0px 30px;
}

.song-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.song-info > .album-art {
  width: 40vmin;
}

.album-art > .content {
  background: url("/api/artwork");
  background-size: cover;
  background-position: center;
}

.song-info > .metadata {
  /*background: white;*/
  font-size: 1.2em;

  color: #eee;

  padding: 20px;
  margin-left: 2em;

  max-width: 20vmin;
}

.control-bar {
  background: white;

  position: sticky;
  /*bottom: 0;*/
  width: 100%;
  padding: .75em;

  text-align: center;
}

.visualizer {
  display: flex;
  /*z-index: -1;*/
  position: absolute;

  bottom: 10px;
  left: 0;
  right: 0;

  height: 200px;

  align-items: flex-end;
  justify-content: space-between;

  margin: 4px;
}

.visualizer-node {
  /*background: #852830;*/
  width: 6px;
  height: 50px;
  border-radius: 3px; 
}