/* --------------------------------------*/
/* The styles common accross all screens */
/* --------------------------------------*/


/* variables */
.program-details{
	--image-size: 12rem;	
}

@media only screen and (max-width: 800px){
	.program-details{
		--image-size: 8rem;
	}
}

.program__header{
	display: grid; 
	grid-template-columns: var(--image-size) auto;
	grid-template-rows: repeat(2, calc(var(--image-size) * 0.5));

	grid-template-areas:
		"image title"
		"image djs";

	justify-items: left;
	/*s align-items: center; */
}

.program__header .program-details__image {
	grid-area: image;
	object-position: center;
	object-fit: cover;

	width: var(--image-size);
	height: var(--image-size);

	border-radius: 1rem;
}

.program__header h1 {
	grid-area: title;
	margin-left: 2rem;
	align-self: end;

	text-align: center;
}

.program__header h2 {
	grid-area: djs;
	margin-left: 2rem;
	align-self: start;
	text-align: center;
}

.episode {
	border-bottom: solid 1px var(--black);
}


.episode .btn--play-pause {
	margin-right: 1rem;
}

.episode h3 {
	
}

/* .content { */
/* 	background: var(--white); */	

/* 	max-width: 800px; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	padding: 1rem; */
/* } */

/* @media only screen and (min-width: 800px) { */
/* 	.content { */
/* 		border: 1px solid var(--black); */
/* 		border-radius: 1rem; */
/* 		margin-top: 2rem; */
/* 	} */
/* } */

/*.program-details {*/
/*	background: #fff;*/

/*	margin: 1rem;*/
/*	padding: 1rem;*/

/*	border-radius: 1rem;*/
/*	border: 1px solid #333;*/
/*}*/

/*.program-details__image {*/
/*	width: 40vw;*/
/*	height: 40vw;*/

/*	max-width: 15rem;*/
/*	max-height: 15rem;*/

/*	object-position: center;*/
/*	object-fit: cover;*/

/*	border-radius: 1em;*/
/*	/*border: 1px solid #333;*/*/

/*	/*float: right;*/*/
/*	/*margin-left: 2rem;*/*/
/*}*/

/*.program-episodes {*/
/*	background: #fff;*/

/*	border: 1px solid black;*/
/*	border-radius: 1rem;*/

/*	margin: 1rem;*/
/*	padding: 1rem 2rem;*/

/*	overflow-y: scroll;*/
/*}*/

/* ------------------------------*/
/* The styles for larger screens */
/* ------------------------------*/

/*@media only screen and (min-width: 1000px) {*/
/*	.program .content{*/
/*		display: flex;*/
/*		flex-direction: row;*/
/*		justify-content: center;*/

/*		height: 90vh;*/

/*		padding: 0 10%;*/
/*	}*/

/*	.program-details {*/
/*		display: flex;*/
/*		flex-direction: column;*/
/*		align-items: stretch;*/

/*		flex-basis: 30rem;*/
/*		text-align: right;*/

/*		max-height: 100%*/
/*		/*min-width: 30rem;*/*/
/*	}*/

/*	.program-details__image {*/
/*		margin-left: auto;*/
/*		margin-right: auto;*/
		
/*		margin-bottom: 2rem;*/
/*	}*/

/*	.program-episodes {*/
/*		/*flex-basis:;*/*/
/*		flex-grow: 1;*/
/*		max-height: 100%;*/
/*	}*/
/*}*/

/*/* -------------------------------*/*/
/*/* The styles for smaller screens */*/
/*/* -------------------------------*/*/

/*@media only screen and (max-width: 1000px) {*/
/*	.program .content {*/
/*		display: flex;*/
/*		flex-direction: column;*/
/*		justify-content: flex-start;*/

/*		align-items: stretch;*/
/*	}*/

/*	.program-details__image {*/
/*		object-position: top;*/
/*		object-fit: cover;*/

/*		border-radius: 1em;*/

/*		float: right;*/
/*		margin-left: 2rem;*/
/*	}*/
/*}*/

/*.program-episodes li {*/
/*	padding: 1rem;*/
/*	border-bottom: 1px solid #333;*/
/*}*/

/*.program-episodes li:last-child {*/
/*	border-bottom: unset;*/
/*}*/

/*.episode-link {*/
/*	display: grid;*/

/*	grid-template-rows: auto auto;*/
/*	grid-template-columns: 3rem 2rem auto;*/
/*	grid-template-areas:*/ 
/*		"play . title"*/
/*		"play . description"*/
/*}*/

/*.episode-link__name {*/
/*	grid-area: title;*/
/*	font-family: acumin-pro;*/
/*	font-weight: normal;*/
/*	align-self: end;*/
/*}*/

/*.episode-link__description {*/
/*	grid-area: description;*/
/*	font-size: .8rem;*/
/*	align-self: start;*/
/*}*/

/*.episode-link__play-btn {*/
/*	grid-area: play;*/
/*	place-self: center;*/
/*	/*margin-right: 3rem;*/*/
/*}*/
