.program-list{
	--link-size: 8rem;
	--row-spacing: 16rem;
}

@media only screen and (max-width: 600px) {
	.program-list {
		--link-size: 6rem;
		--row-spacing: 10rem;
	}
}

.program-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--link-size), 1fr));
	grid-auto-rows: var(--row-spacing);
	grid-gap: 1rem;
	justify-content: center;
	justify-items: center;
}

.program-list__link {
	display: flex;
	flex-direction: column;
	align-items: middle;
	justify-content: flex-start;
	text-align: center;

	width: var(--link-size);
	position: relative;
}


.program-list__link img {
	width: var(--link-size);
	height: var(--link-size);

	object-position: top;
	object-fit: cover;

	/* border: 1px solid black; */
	border-radius: 1rem;

	box-sizing: border-box;
	box-shadow: 0 0 10px 2px #777;

	transition: transform 0.2s ease-in-out;
}

.program-list__link img:hover {
	transform: scale(1.1, 1.1);
}

.program-list__link span {
	font-family: fira-mono;
	font-size: .75rem;
	text-align: center;
	position: absolute;
	top: calc(var(--link-size) + 1rem);
	left: 0;
	right: 0;
}

