.program {
	display: flex;
	align-items: center;

	padding-top: 1.5em;
	padding-bottom: 1.5em;

	padding-left: 1em;

	border-bottom: 1px solid black;
}

.header {
	display: flex;
	align-items: center;
}

.image {
	width: 100px;
	height: 100px;

	margin-right: 2em;
}

.episode {
	display: flex;
	align-items: center;

	border-bottom: 1px solid black;
}

.episode > .play-button {
	margin-right: 2em; 
}