.schedule {
	/*height: 100vh;*/
	/*background: white;*/
	padding: 1rem 0;
	box-sizing: border-box;
}

.page--schedule {
	position: relative;
	box-sizing: border-box;
	height: 100vh;
	/*background: white;*/
}

.schedule {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 3rem;
	right: 3rem;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(25, 4rem);
	column-gap: 10px;
	row-gap: 10px;

	background: #fff;

	border: 1px solid black;
	border-radius: 1rem;

	overflow-y: scroll;

	padding: 1rem;
	margin: 1rem auto;
	margin-top: 4rem;

	box-sizing: border-box;
}

.schedule__timeslot {
	background: rgba(0, 100, 255, 0.3);
	border-radius: 10px;
}
