#sidebar {
	position: fixed;
	left: -20%;
	width: 20%;
	height: 100%;

	background: #eee;

	transition: left .4s;

}

#content {
	position: absolute;
	width: 100%;
	left: 0%;

	transition: left .4s;

}

#slide-out-button {
	position: fixed;
	left: 1em; /*left: calc(20% + 15px);*/
	top: 1em;
	color: white;
	font-size: 2em;

	z-index: 1;

	transition: left .4s;

}

#slide-out-button.out {
	left: calc(20% + 1em);
}

#sidebar.out {
	left: 0;
}

#content.out {
	left: 20%;
	right: 0%;
}