.programs-main {
	/*text-align: center;*/
}

.programs-main__blurb {
	background: #fff;

	margin-left: auto;
	margin-right: auto;

	max-width: 70%;

	padding: 1rem;

	border-radius: .5rem;
}

.programs-main__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list__program-link {
	display: flex;
	flex-direction: column;
	align-items: middle;
	justify-content: flex-start;

	text-align: center;

	width: 8rem;
	height: 12rem;
	/*overflow: hidden;*/

	margin: 1rem .5rem;
}

.list__program-link img {
	width: 8rem;
	height: 8rem;

	object-position: top;
	object-fit: cover;

	border: 1px solid black;
	border-radius: 1rem;
}

.list__program-link span {
	font-family: fira-mono;
	font-size: .75rem;
	background: #fff;

	border: 1px solid black;

	margin-top: .25rem;
	border-radius: .5rem;
}


.program > .content {
	display: flex;
}

@media only screen and (min-width: 600px) {
	.program > .content{
		flex-direction: row;
		justify-content: center;

		padding: 0 10%;
	}

	.program__details{
		flex-basis: 20%;
	}

	.program__episodes {
		flex-basis: 80%;

		max-height: 80vh;
	}
}

@media only screen and (max-width: 600px) {
	.program > .content {
		flex-direction: column;
		justify-content: flex-start;

		align-items: stretch;
	}
}

.program__details {
	background: #fff;

	margin: 1rem;
	padding: 1rem;

	border-radius: 1rem;
	border: 1px solid #333;
}

.program__image {
	width: 40vw;
	height: 40vw;

	max-width: 15rem;
	max-height: 15rem;

	object-position: top;
	object-fit: cover;

	border-radius: 1em;

	float: right;
	margin-left: 2rem;
}

.program__episodes {
	background: #fff;

	border: 1px solid black;
	border-radius: 1rem;

	margin: 1rem;
	padding: 1rem 2rem;

	overflow-y: scroll;
}

.program__episodes__link {
	border-bottom: 1px solid #333;
	padding: 1rem 0;
}

.program__episodes__link a {
	display: grid;

	grid-template-rows: auto auto;
	grid-template-columns: 3rem 2rem auto;
	grid-template-areas: 
		"play . title"
		"play . description"
}

.program__episodes__link h3 {
	grid-area: title;
	font-family: acumin-pro;
	font-weight: normal;
	align-self: end;
}

.program__episodes__link p {
	grid-area: description;
	font-size: .8rem;
	align-self: start;
}

.program__episodes__link button {
	grid-area: play;
	place-self: center;
	/*margin-right: 3rem;*/
}